@import '../../vars.css';

.container {
    color: var(--color-text);
    margin-top: 120px;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    padding: 58px 10%;
    gap: 10px;
}

.text h2 {
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 4px;
}

.text p {
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 3px;
}

.links {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    list-style: none;
    gap: 26px;
}

.link {
    display: flex;
    align-items: center;
    gap: 25px;
}

.link a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.5px;
    transition: text-decoration 0.6s ease-in;
}

.link a:hover {
    /*
    border-bottom: 4px solid var(--color-hover-first);
    padding-bottom: 2px;
    */
    color: var(--color-hover-first);
}

.link img:hover {
    filter: brightness(0) saturate(100%) invert(65%) sepia(73%) saturate(1488%) hue-rotate(129deg) brightness(93%) contrast(100%);
}

@media screen and (max-width: 930px) {
   .container {
        flex-direction: column;
        gap: 23px;
   }

   .text {
        display: flex;
        flex-direction: column;
        align-items: center;
   }

   .links {
        align-items: center;
   }

   .text h2 {
        font-size: 70px;
    }

    .text p {
        font-size: 30px;
    }

   .link a {
        font-size: 20px;
    }
}